<!-- src/main/resources/templates/movies/edit.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier un Film</title>
</head>
<body>
    <h1>Modifier un Film</h1>
    <form action="#" th:action="@{/movies/edit/{id}(id=${movie.id})}" th:object="${movie}" method="post">
        <label for="title">Titre :</label>
        <input type="text" id="title" th:field="*{title}" required/>
        <br>
        
        <label for="director">Réalisateur :</label>
        <input type="text" id="director" th:field="*{director}" required/>
        <br>

        <label for="genre">Genre :</label>
        <input type="text" id="genre" th:field="*{genre}" required/>
        <br>

        <label for="releaseYear">Année de Sortie :</label>
        <input type="number" id="releaseYear" th:field="*{releaseYear}" required/>
        <br>

        <label for="status">Statut :</label>
        <select id="status" th:field="*{status}" required>
            <option value="disponible" th:selected="${movie.status == 'disponible'}">Disponible</option>
            <option value="emprunté" th:selected="${movie.status == 'emprunté'}">Emprunté</option>
        </select>
        <br>

        <button type="submit">Mettre à jour</button>
    </form>
    <br>
    <a href="/movies">Retour à la liste des films</a>
</body>
</html>
